/* Estilos para o header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha os elementos nas extremidades */
    background-color: #f8f9fa;
    padding: 0px 20px;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
}

header img {
    height: 100px;
    margin-right: 20px;
}

#user-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o nome do usuário e o ícone */
}

#username {
    font-weight: 500;
    color: #033b77;
}

.logout-icon {
    cursor: pointer;
    color: #033b77;
    font-size: 20px;
    transition: color 0.3s ease;
}

.logout-icon:hover {
    color: #0056b3;
}