/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Variáveis de cores */
:root {
    --cor-primaria: #033b77;
    --cor-secundaria: #0056b3;
    --cor-fundo: #f4f4f4;
    --cor-texto: #333;
    --cor-header: #f8f9fa;
    --cor-borda: #ddd;
    --cor-hover: #004494;
    --cor-botao: #007bff;
    --cor-botao-hover: #0056b3;
}

/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--cor-texto);
}

/* Estilos para o header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-header);
    padding: 10px 20px;
    border-bottom: 1px solid var(--cor-borda);
}

header img {
    height: 80px;
}

/* Estilos para a barra lateral */
.sidebar {
    width: 250px;
    background-color: var(--cor-primaria);
    padding: 20px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
    left: 0;
    overflow-y: auto;
}

.sidebar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li a:hover {
    background-color: var(--cor-hover);
}

/* Estilização do link ativo */
.sidebar .nav-link.active {
    font-weight: bold;
    background-color: var(--cor-secundaria);
}

/* Estilos para o conteúdo principal */
main {
    margin-left: 270px;
    padding: 20px;
    flex: 1;
}

/* Estilos para as seções */
section {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section.active {
    display: block;
}

/* Estilos para os botões de funcionalidades */
.funcionalidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.funcionalidades button {
    background-color: var(--cor-botao);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.funcionalidades button:hover {
    background-color: var(--cor-botao-hover);
}

.btn{
    display: inline-block;
    background-color: var(--cor-botao);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--cor-botao-hover);
}
.btn:active {
    background-color: #004494; /* Azul ainda mais escuro */
    transform: scale(0.95);
}

/* Estilos para o footer */
.footer {
    background-color: var(--cor-header);
    padding: 24px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: auto;
    border-top: 1px solid var(--cor-borda);
}

/* Estilos para o botão de logout */
#logout-button {
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: var(--cor-hover);
}

#logout-button.disabled {
    background-color: var(--cor-secundaria);
    cursor: not-allowed;
}
